@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rei-text-input {
    @apply border-gray-400 w-full block border rounded-lg h-9 pl-1 !important;
  }
  .rei-text-text-area {
    @apply border-gray-400 w-full block border rounded-lg pl-1;
  }
  .rei-password-input {
    @apply flex password-container border-gray-400 rounded-lg border  flex-row content-center w-full;
  }
}
html,
body {
  padding: 0;
  margin: 0;
}

#digi-header {
  font-family: 'Lato', sans-serif;
}

.p-component,
body {
  font-family: 'Lato', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-scrolltop {
  bottom: 20rem !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
  right: 5px !important;
}

.p-scrolltop .p-scrolltop-icon {
  font-size: 1rem !important;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    /* color: white; */
    /* background: black; */
  }
}
